<div class="container">
  <div class="row justify-content-center text-center">
    <!-- Movies -->
    <div>
      <h2 class="my-5 fs-2 fw-bold">Our Popular Collection For You</h2>
    </div>

    <div *ngFor="let movie of movies " class="col-12 col-md-4 col-lg-3 p-2 m-3">
      <div class="card border-0">
        <a routerLink="/movie/{{ movie.id }}/details">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
            class="card-img-top img-responsive object-fit-cover " height="350">

        </a>

        <div class="card-body">
          <h5 class="card-title fw-semibold py-2">{{ movie.title | slice:0:25 }}{{ movie.overview.length > 25 ? '...' :
            '' }}
          </h5>
          <p class="card-text">{{ movie.overview | slice:0:150 }}{{ movie.overview.length > 150 ? '...' : ''}}</p>
          <div class="card-text badge bg-success p-2">
            {{ movie.release_date | date: ' yyyy' }}
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="text-center my-2">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>